.homebg{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card{
  height:350px;
  padding: 10px;
}
.img img{
  height:250px;
  width:250px;
  border-radius: 50%;
}
.info h3{
  font-size: 25px;
  margin: 5px;
  text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.bar{
  display: flex;
  justify-content: space-between;
}
.recipecontainer{
  display: grid;
 grid-gap:20px;
 grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
 justify-items: center;
}